<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Koiran tuotteet</title>
</head>

<body>
    <h1>Koiran tuotteet</h1>
    <script>
        function confirmDelete(formId, name) {
            if (confirm("Are you sure you want to delete Product: " + name + "?")) {
                document.getElementById(formId).submit();
            }
        }
    </script>

    <!-- Lomake: lisää tai päivitä -->
    <form method="post" th:action="@{/paivita}" th:object="${valittutuote}">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}" placeholder="Nimi" required />
        <select th:field="*{manufacturer}">
            <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.manufacturerid}"
                th:text="${manufacturer.name}">
            </option>
        </select>
        <input type="number" th:field="*{inventory}" placeholder="Määrä" required />
        <input type="text" th:field="*{type}" placeholder="Tyyppi" required />
        <input type="text" th:field="*{color}" placeholder="Väri" required />
        <input type="text" th:field="*{size}" placeholder="Koko" required />
        <input type="number" step="0.01" th:field="*{price}" placeholder="Hinta (€)" required />
        <button type="submit">Tallenna</button>
        <form method="get" th:action="@{/tuotteet}" style="display: inline;">
            <button type="submit">Cancel</button>
        </form>
    </form>

    <ul>
        <li th:each="tuote : ${tuotteet}">
            <span th:text="${tuote.name}"></span> -
            <span th:text="${tuote.manufacturer.name}"></span> -
            <span th:text="${tuote.inventory}"></span> -
            <span th:text="${tuote.type}"></span> -
            <span th:text="${tuote.color}"></span> -
            <span th:text="${tuote.size}"></span> -
            <span th:text="${tuote.price} + ' €'"></span>
            <a th:href="@{'/muokkaa/' + ${tuote.id}}">Muokkaa</a>

            <form th:id="'delete_form_' + ${tuote.id}" method="get" th:action="@{'/poista/' + ${tuote.id}}"
                style="display: inline;">
                <button type="button" th:data-id="${tuote.id}" th:data-name="${tuote.name}"
                    th:onclick="|confirmDelete('delete_form_' + this.getAttribute('data-id'), this.getAttribute('data-name'))|">
                    Poista
                </button>
            </form>
        </li>
    </ul>

    <form method="get" th:action="@{/manufacturerlist}" style="display: inline;">
        <button type="submit">Go to Manufacturer List</button>
    </form>

</body>

</html>